<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/main.css" />
    <title>Only Connect</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <section class="intro">
      <h1>Choose A Wall</h1>
    </section>
    <section class="walls">
      <a href="/walls/1">Wall 1</a>
      <a href="/walls/2">Wall 2</a>
      <a href="/walls/3">Wall 3</a>
      <a href="/walls/4">Wall 4</a>
      <a href="/walls/5">Wall 5</a>
      <a href="/walls/6">Wall 6</a>
      <a href="/walls/7">Wall 7</a>
      <a href="/walls/8">Wall 8</a>
      <a href="/walls/9">Wall 9</a>
      <a href="/walls/10">Wall 10</a>
    </section>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
