<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/wall.css" />
    <link rel="stylesheet" href="/assets/main.css" />
    <title>Only Connect</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
<<<<<<< HEAD
    <div class="wall_container">
      <div class="container"></div>
      <div class="timeAndLives">
        <div class="lives">
          <div class="live"></div>
          <div class="live"></div>
          <div class="live"></div>
        </div>
        <div class="timer">Time Left : <span id="time">03:00</span></div>
        <button>Start</button>
      </div>
=======
    <div class="container"></div>
    <div class="lives">
      <h3>Guess Left:</h3>
      <div class="live"></div>
      <div class="live"></div>
      <div class="live"></div>
>>>>>>> added lives h3 tag in html
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script>
    const wall = <%- JSON.stringify(data[0].wall)%>
  </script>
  <script src="/assets/main.js"></script>
</html>
