:root {
  box-sizing: border-box;
}

.wall_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timeAndLives {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.timer {
  margin: 0 auto;
  font-size: 1.5rem;
}

.timeAndLives button {
  border-radius: 100px;
  background: var(--accent);
  padding: 0.7rem;
  color: var(--light);
  font-size: 1rem;
  border: none;
}

.timeAndLives button:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 10px 24px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 10px 24px -1px rgba(0, 0, 0, 0.5);
}

.container {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  display: grid;
  max-width: 70%;
  justify-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  gap: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px;
  width: 200px;
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
}

.box:hover {
  cursor: pointer;
}

.highlight {
  border: solid 3px var(--accent);
  background: var(--accent);
  color: var(--light);
}

.fixed {
  pointer-events: none;
}

.row_1 {
  background: blue;
  color: var(--light);
}

.row_2 {
  background: red;
  color: var(--light);
}

.row_3 {
  background: green;
  color: var(--light);
}

.row_4 {
  background: black;
  color: var(--light);
}

.lives {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.lives h3 {
  font-size: 1.5rem;
}

.live {
  width: 50px;
  height: 50px;
  background: var(--accent);
  border-radius: 50%;
  margin: 0 0.5rem;
}

.lost_live {
  background-color: black;
}

.hidden {
  display: none;
}
